body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 img {
  margin-left: 0;
  max-width: 15rem;
  max-height: 10rem;
  padding-block: 5px;
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-right: 1rem;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul button {
  background-color: #3c7194;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #ddd;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5em;
  margin-inline: 5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header h3 {
  color: #3c7194;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.3em;
}

.article-date {
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
}

.science-news {
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

article {
  border: 1px solid #ddd;
  margin-inline: 4rem;
  padding: 20px;
}

article h4 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

article p {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 1rem;
  line-height: normal;
}

article p em {
  margin-left: 2rem;
  color: #026aa7;
  font-style: italic;
}

article p strong {
  font-weight: bold;
}

.article-info {
  margin-bottom: 1.5rem;
}

.article-info p {
  line-height: 1.5rem;
}

.article-content em {
  margin-left: 0;
  color: rgb(59, 59, 59);
  font-style: italic;
}

.lead {
  font-size: 1.4rem;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  padding-top: 0.8rem;
  text-align: center;
}

input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #0080ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #005cb3;
}

img {
  display: block; 
  margin: 0 auto;
}

footer {
  background-color: #F0F0F0;
  text-align: center;
  padding: 10px;
}

/* Media query for smaller devices */
@media (min-width: 650px) {
  .container {
      padding: 10px;
  }

  h1 {
      font-size: 1rem;
  }

  input[type="email"],
  input[type="submit"] {
      width: 100%;
  }
}

/* Media query for medium devices*/
@media (min-width: 900px) {
  .container {
      max-width: 80%;
  }

  h1 {
      font-size: 1.25rem;
  }
}

/* Media query for large devices (laptops/desktops) */
@media (min-width: 1024px) {
  .container {
      max-width: 70%;
  }

  h1 {
      font-size: 1.5rem;
  }
}

/* Media query for extra-large devices (large desktops) */
@media (min-width: 1700px) {
  .container {
      max-width: 60%;
  }
}
button {
  background-color: #3c7194; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #005cb3; 
}
